<a href="#" class="btn btn-primary btn-sm">Dodaj organizację</a>
<h2>Lista organizacji</h2>

<ng-container *ngIf="organizations != null">
    <table class="table table-striped">
        <tr>
            <th>Nazwa</th>
            <th>Adres</th>
        </tr>
        <tr *ngFor="let organization of organizations">
            <th>{{ organization.name }}</th>
            <th>{{ organization.url }}</th>
        </tr>
    </table>
</ng-container>

<ng-container *ngIf="organizations == null">
    <p>Brak zdefiniowanych organizacji.</p>
</ng-container>
